<div>
  <h1><%= @userinfo.email %></h1>
  <h3><%= @userinfo.bio %></h3>  
  <h2>You have Posted <%= @usercount.size %> time(s).</h2>
</div>

<div>
  <% @posts.reverse.each do |post| %>
    <% if @userinfo === post.user %>
      <p>
        <tr>
          <div class = "tweet" >
              <h3 class="black"><td><%= link_to post.user.username, user_profile_path(post.user) %></td></h3>
              <h2><td><%= post.body %></td></h2>
              <h3><td><%= post.created_at %></td></h3>

              <% if current_user.liked? post %>

                <%= link_to dislike_post_path(post.id), method: :put do %>
                  <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
                  <%= post.get_likes.size %>
                <% end %>

                <% else %>

                <%= link_to like_post_path(post), method: :put do %>
                  <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
                  <%= post.get_likes.size %>
                <% end %>

              <% end %>
              <span class="twitter-button">
                <%= link_to "Delete", post_path(post.id), :confirm => "Are you sure?", :method => :delete %>
              </span>
          </div>
        </tr>
      </p>
    <% end %>
  <% end %>
</div>