<div>
  <h1><%= @userinfo.email %></h1>
  <h2>You have Posted <%= @usercount.size %> time(s).</h2>
</div>

<div>
  <% @posts.reverse.each do |post| %>
    <% if @userinfo == post.user %>
      <p>
        <tr>
          <div class = "" >
              <h3><td><%= link_to post.user.email, user_profile_path(post.user) %></td></h3>
              <h2><td><%= post.body %></td></h2>
              <h3><td><%= post.created_at %></td></h3>

              <%= link_to "Delete", post_path(post.id), :confirm => "Are you sure?", :method => :delete %>
          </div>
        </tr>
      </p>
    <% end %>
  <% end %>
</div>