
<div>
  <% @posts.reverse.each do |post| %>

    <tr>
      <h1><%= link_to post.user.username, user_profile_path(post.user) %></h1>
      <h2><td><%= post.body %></td></h2>
      <h3><td><%= post.created_at %></td></h3>

    <% if current_user == post.user %>
      <%= link_to "Delete", post_path(post.id), :confirm => "Are you sure", :method => :delete %>
    <% end %>

    </tr>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>
