
<div>
  <% @posts.reverse.each do |post| %>

    <tr>
      <h1><%= link_to post.user.username, user_profile_path(post.user) %></h1>
      <h2><td><%= post.body %></td></h2>
      <h3><td><%= post.created_at %></td></h3>

      

        <%= link_to dislike_post_path(post.id), method: :put do %>
          <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
          <%= post.get_likes.size %>
        <% end %>

        

        <%= link_to like_post_path(post), method: :put do %>
          <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
          <%= post.get_likes.size %>
        <% end %>

      


    <% if current_user === post.user %>
      <%= link_to "Delete", post_path(post.id), :confirm => "Are you sure", :method => :delete %>
    <% end %>

    </tr>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>
